@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #e6eef0;
}

.app-container {
  padding: 50px 25% 100px 25%;
}

h1 {
  color: rgb(0, 0, 34);
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

@media all and (max-width: 1000px) {
  .app-container {
    padding: 50px 15% 100px 15%;
  }
}

@media all and (max-width: 800px) {
  .app-container {
    padding: 50px 10% 100px 10%;
  }
}

@media all and (max-width: 600px) {
  .app-container {
    padding: 30px 10% 100px 10%;
  }
}

@media all and (max-width: 500px) {
  .app-container {
    padding: 30px 6% 100px 6%;
  }
}
